body {
  margin: 0;
  height: 100vh;
  place-items: center;
}


.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    background: #5CEFFF;
    border-radius: 30px;
}
    
.title {
    grid-column: span 3 / span 3;
    font-size: 25px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F8F9FA;
}

.title h1, .title h2 {
  margin: 5;
}

.funtions {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.findProduct {
    background: #F8F9FA;
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-row-start: 2;
}
        